<!DOCTYPE html>
<html ng-app="bookStore">
<head lang="en">
    <meta charset="UTF-8">
    <title>.::Angular js::.</title>
    <link href="app/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container bs-docs-container" ng-controller="testCtrlOne">
    <div class="panel panel-default">
        <div class="panel-heading">Learning Angular</div>
        <div class="panel-body">

            <div class="row" ng-controller="bookShop as store">
                <div class="col-sm-6 col-md-4" ng-repeat="book in store.product | limitTo:3 | orderBy: '-price'">
                    <div class="thumbnail">
                        <img ng-src="app/images/{{book.image[0].full}}" alt="...">
                        <div class="caption">
                            <h3>{{book.name | uppercase}}</h3>
                            <p>{{book.dec}}</p>
                            <p>{{book.price | currency:'$'}}</p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button" ng-show="book.canPer">Add To Cart</a>
                                <a href="#" class="btn btn-default" role="button">Read More</a>
                            </p>
                        </div>
                    </div>
                    <section ng-controller="PanelController as panel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{active:panel.isSelected(1)}"><a href="javascript:;" ng-click="panel.selectTab(1)">Description</a></li>
                            <li ng-class="{active:panel.isSelected(2)}"><a href="javascript:;" ng-click="panel.selectTab(2)">Specification</a></li>
                            <li ng-class="{active:panel.isSelected(3)}"><a href="javascript:;" ng-click="panel.selectTab(3)">Review</a></li>
                        </ul>
                        <div class="bs-callout bs-callout-danger" ng-show="panel.isSelected(1)">
                            <h4>Description</h4>
                            <blockquote>Data</blockquote>
                        </div>
                        <div class="bs-callout bs-callout-danger" ng-show="panel.isSelected(2)">
                            <h4>Specification</h4>
                            <blockquote>Data</blockquote>
                        </div>
                        <div class="bs-callout bs-callout-danger" ng-show="panel.isSelected(3)">
                            <h4>Review</h4>

                            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                  ng-submit="reviewCtrl.addReview(product)">

                                <blockquote ng-repeat="review in book.reviews">
                                    <b>{{reviewCtrl.review.star}} Star</b>
                                    <p>{{reviewCtrl.review.body}}</p>
                                    <city class="clearfix">-{{reviewCtrl.review.author}}</city>
                                </blockquote>

                                <p>
                                    <select class="form-control" ng-model="reviewCtrl.review.stars">
                                        <option value="1">1 Star</option>
                                        <option value="3">2 Stars</option>
                                        <option value="3">3 Stars</option>
                                        <option value="4">4 Stars</option>
                                        <option value="5">5 Stars</option>
                                    </select>
                                </p>
                                <p>
                                    <textarea class="form-control" ng-model="reviewCtrl.review.body"></textarea>
                                </p>
                                <p>
                                    <input type="email" class="form-control" ng-model="reviewCtrl.review.author"/>
                                </p>
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </form>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>



</div>



<script type="text/javascript" src="app/lib/angular.js"></script>
<script type="text/javascript" src="app/main.js"></script>
</body>
</html>